[user]
	name = Theo Salvo
	email = buzzsurfr@users.noreply.github.com
[credential "https://github.com"]
	helper =
	helper = !{{ if eq .chezmoi.os "darwin" }}/opt/homebrew/bin/{{ end }}gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ if eq .chezmoi.os "darwin" }}/opt/homebrew/bin/{{ end }}gh auth git-credential
