{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# Brewfile hash: {{ include "Brewfile" | sha256sum }}
set -e

if [[ -f /opt/homebrew/bin/brew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
elif [[ -f /usr/local/bin/brew ]]; then
  eval "$(/usr/local/bin/brew shellenv)"
elif [[ -f /home/linuxbrew/.linuxbrew/bin/brew ]]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

echo "==> Installing packages from Brewfile..."
brew bundle --file="{{ .chezmoi.homeDir }}/Brewfile"
{{ end -}}
