TRELLO_API_KEY={{ onepasswordRead "op://OpenClaw/Trello/api key" }}
TRELLO_TOKEN={{ onepasswordRead "op://OpenClaw/Trello/token" }}
HA_URL=http://homeassistant.local:8123
HA_TOKEN={{ onepasswordRead "op://OpenClaw/Home Assistant/credential" }}
